.banner {
    display: grid;
    gap: .67rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}
 
.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
}

.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3 {
    grid-area: nome;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
}

.eventos__item button {
    grid-area: botao;
}

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "imagem imagem"
        "informacoes atracao";
}

.agenda__informacoes {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 8px;
}

.agenda__item img {
    grid-area: imagem;
}

.agenda__informacoes {
    grid-area: informacoes;
}

.agenda__atracao {
    grid-area: atracao;
}

.agenda__informacoes h4 {
    white-space: nowrap;
}

@media (min-width: 720px) {

    .banner {
        grid-template-columns: calc(50% - 0.5rem) auto auto;
        column-gap: 1rem;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3 
    }
 
    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

@media (min-width: 1440px) {

    .categorias {
        display: grid;
        row-gap: .67rem;
        column-gap: 1rem;
        grid-template-columns: calc(50% - .75rem) 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "titulo titulo"
            "lista destaque"
            "lista imagem";
    }

    .categorias__lista {
        column-gap: 1rem;
    }

    .categorias__titulo {
        grid-area: titulo;
    }

    .categorias__lista {
        grid-area: lista;
    }

    .categorias__destaques {
        grid-area: destaque;
    }

    .categorias__imagem {
        grid-area: imagem;
    }
}